## Stablo odlučivanja u strojnom učenju

Stabla odlučivanja koriste se u analizi odlučivanja kako bi se vizualno predstavio način donošenja odluka od strane ekperata. Takva stabla odlučivanja opisuju način kako ljudski ekperti dolaze do odluke kod nekog problema odlučivanja.
Druga primjena stabla odlučivanja, koju ćemo ovdje obraditi, je njihova upotreba kao prediktivni modeli u strojnom učenju.

Stablo odlučivanja kreira se na temelju poznatih podataka *training set*, te se kasnije koristi kako bi se predvidjeli, odnosno klasificirali novi podaci.

#### Primjer korišteja stabla odlučivanja na zahtjevima za kreditima

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

df = pd.read_csv('kredit.csv', index_col=False)
df_novi = pd.read_csv('zahtjev.csv', index_col=False)
df_novi.replace(np.nan, '', regex=True, inplace=True)

Pretpostavimo da smo promatranjem korisnika za zahtjev kredita došli do sljedećih podataka:

In [5]:
df

          dob ima_posao ima_kucu kreditni_status kredit_odobren
0        mlad        ne       ne             loš             ne
1        mlad        ne       ne           dobar             ne
2        mlad        da       ne           dobar             da
3        mlad        da       da             loš             da
4        mlad        ne       ne             loš             ne
5   srednje_g        ne       ne             loš             ne
6   srednje_g        ne       ne           dobar             ne
7   srednje_g        da       da           dobar             da
8   srednje_g        ne       da        izvrstan             da
9   srednje_g        ne       da        izvrstan             da
10    stariji        ne       da        izvrstan             da
11    stariji        ne       da           dobar             da
12    stariji        da       ne             loš             da
13    stariji        da       ne        izvrstan             da
14    stariji        ne       ne             loš             ne

Te smo kreirali sljedeće stablo odlučivanja:

<img src="files/stablo_krediti.png" width=400px>
Čvorovi stabla koji nisu listovi predstavljaju varijable, grane ili bridovi stabla predavljaju vrijednosti varijabli, dok  listovi stabla predtavljaju konačnu odluku ili klasu.


Odlučujemo pomoću stabla odlučivanja o novom zahtjevu za kredit, koji ima sljedeće informacije o podnositelju:

In [6]:
df_novi

    dob ima_posao ima_kucu kreditni_status kredit_odobren
0  mlad        ne       ne             loš

<img src="files/stablo_krediti_odluka.png" width=400px>
Kako je korisnikova dob *mlad* i nema posao, kredit nije odobren.